<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        meta(name="theme-color", content="rgba(0,167,255,1)")
        meta(name="og:site_name", content="Cloud Garage")
        meta(name="og:title", content="Projects")
        meta(name="og:image", content="http:/cloud-garage.ga/assets/logo_text.png")
        meta(name="og:description", content="You want cool electronic DIY projects? We got everything you need!")
        link(rel="shortcut icon", href="/assets/favicon.ico", type="image/x-icon")

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:400|Roboto:300")
        link(rel="stylesheet", href="/style.css")
        title Projects - Cloud Garage
    body
        nav#nav_bar
            img.logo(src="/assets/logo_text.png", alt="Cloud Garage")
            a.expand(onclick="expand_nav();")
                img.expand(src="/assets/expand.png", alt="Menu")
        nav#nav_menu
            ul.links
                li
                    a(href="/") Home
                li
                    a(href="/projects") Projects
                li
                    a(href="/shop") Shop
                li
                    a(href="/contact") Contact
        article
            content
                h1 Projects
                span.subtle All projects sorted by date
                a(href="/projects/diy-drone")
                    img(src="/projects/diy-drone/banner.png", alt="DIY-DRONE")
                p.center We'll develop new projects soon😃🖥
        script(src="/main.js")
        footer#footer
            p &copy;Copyright 2018 by Cloud Garage
            p
                a(href="/imprint.html") Imprint
                |  | 
                a(href="/contact") Contact