<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        meta(name="theme-color", content="rgba(0,167,255,1)")
        meta(name="og:site_name", content="Cloud Garage")
        meta(name="og:title", content="Title")
        meta(name="og:image", content="http:/cloud-garage.ga/projects/template/thumbnail.jpg")
        meta(name="og:description", content="Description")
        link(rel="shortcut icon", href="/assets/favicon.ico", type="image/x-icon")

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:400|Roboto:300")
        link(rel="stylesheet", href="/style.css")
        title Title - Cloud Garage
    body
        nav#nav_bar
            img.logo(src="/assets/logo_text_only.png", alt="Cloud Garage")
            a.expand(onclick="expand_nav();")
                img.expand(src="/assets/expand.png", alt="Menu")
        nav#nav_menu
            ul.links
                li
                    a(href="/") Home
                li
                    a(href="/projects") Projects
                li
                    a(href="/shop") Shop
                li
                    a(href="/contact") Contact
        article
            content
                h1 Lorem Ipsum
                time April 2018
                section.slider
                    img(src="slider_000.jpg", alt="IMG 000")
                p
                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit debitis nisi impedit distinctio odio nostrum? Quia aut recusandae perferendis, amet commodi sapiente deleniti inventore, rem quasi perspiciatis, beatae nihil. Nobis?
                p.emphasize Emphasized Text
                p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum provident, ipsum maxime ad voluptates, assumenda consectetur eos distinctio ex itaque, voluptatibus aliquam neque ratione porro explicabo aspernatur facere impedit. Laborum.
                ul
                    li This
                    li is
                        ul
                            li a
                            li fancy
                    li list
                img(src="image.png", alt="Full-width image")
                p.center Some centered text!
                #disqus_thread
                script.
                    var disqus_config = function () {
                        this.page.url = PAGE_URL;
                        this.page.identifier = PAGE_IDENTIFIER;
                    };
                    (function () {
                        var d = document, s = d.createElement('script');
                        s.src = 'https://cloudgarage.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                noscript
                    | Please enable JavaScript to view the
                    a(href='https://disqus.com/?ref_noscript') comments powered by Disqus.
        footer#footer
            p &copy;Copyright 2018 by Cloud Garage
            p
                a(href="/imprint.html") Imprint
                |  | 
                a(href="/contact") Contact
        script(src="/main.js")
        script(id="dsq-count-scr", src="//cloudgarage.disqus.com/count.js", async)