<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="theme-color" content="rgba(0,167,255,1)"/>
    <meta name="og:site_name" content="Cloud Garage"/>
    <meta name="og:title" content="Title"/>
    <meta name="og:image" content="http:/cloud-garage.ga/projects/template/thumbnail.jpg"/>
    <meta name="og:description" content="Description"/>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:400|Roboto:300"/>
    <link rel="stylesheet" href="/style.css"/>
    <title>Title - Cloud Garage</title>
  </head>
  <body>
    <nav id="nav_bar"><img class="logo" src="/assets/logo_text_only.png" alt="Cloud Garage"/><a class="expand" onclick="expand_nav();"><img class="expand" src="/assets/expand.png" alt="Menu"/></a></nav>
    <nav id="nav_menu">
      <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <article>
      <content>
        <h1>Lorem Ipsum</h1>
        <time>April 2018</time>
        <section class="slider"><img src="slider_000.jpg" alt="IMG 000"/></section>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sit debitis nisi impedit distinctio odio nostrum? Quia aut recusandae perferendis, amet commodi sapiente deleniti inventore, rem quasi perspiciatis, beatae nihil. Nobis?</p>
        <p class="emphasize">Emphasized Text</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum provident, ipsum maxime ad voluptates, assumenda consectetur eos distinctio ex itaque, voluptatibus aliquam neque ratione porro explicabo aspernatur facere impedit. Laborum.</p>
        <ul>
          <li>This</li>
          <li>is
            <ul>
              <li>a</li>
              <li>fancy</li>
            </ul>
          </li>
          <li>list</li>
        </ul><img src="image.png" alt="Full-width image"/>
        <p class="center">Some centered text!</p>
        <div id="disqus_thread"></div>
        <script>
          var disqus_config = function () {
              this.page.url = PAGE_URL;
              this.page.identifier = PAGE_IDENTIFIER;
          };
          (function () {
              var d = document, s = d.createElement('script');
              s.src = 'https://cloudgarage.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the<a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </content>
    </article>
    <footer id="footer">
      <p>&copy;Copyright 2018 by Cloud Garage</p>
      <p><a href="/imprint.html">Imprint</a> | <a href="/contact">Contact</a></p>
    </footer>
    <script src="/main.js"></script>
    <script id="dsq-count-scr" src="//cloudgarage.disqus.com/count.js" async="async"></script>
  </body>
</html>