<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        
        meta(name="theme-color", content="rgba(0,167,255,1)")
        meta(name="og:site_name", content="Cloud Garage")
        meta(name="og:title", content="Contact")
        meta(name="og:image", content="http:/cloud-garage.ga/assets/logo_text.png")
        meta(name="og:description", content="You want cool electronic DIY projects? We got everything you need!")
        link(rel="shortcut icon", href="/assets/favicon.ico", type="image/x-icon")
        
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:400|Roboto:300")
        link(rel="stylesheet", href="/style.css")
        title Contact - Cloud Garage
    body
        nav#nav_bar
            img.logo(src="/assets/logo_text_only.png", alt="Cloud Garage")
            a.expand(onclick="expand_nav();")
                img.expand(src="/assets/expand.png", alt="Menu")
        nav#nav_menu
            ul.links
                li
                    a(href="/") Home
                li
                    a(href="https://github.com/cloud-garage") Projects
                //- li
                //-     a(href="/shop") Shop
                li
                    a(href="/contact") Contact
        article
            content
                h1 Contact
                span.subtle Contact &amp; Social
                h2 Cloud Garage
                ul
                    li GitHub: 
                        a(href="https://github.com/cloud-garage", target="_blank") Cloud-Garage
                    li Facebook: 
                        a(href="https://www.facebook.com/Cloud-Garage-214403059109780/", target="_blank") Cloud Garage
                h2 Team
                h3 Julian Brugger
                span.subtle Founder | Developer
                ul
                    li GitHub: 
                        a(href="https://github.com/JulianBrugger", target="_blank") JulianBrugger
                h3 Manfred Egger
                span.subtle Founder | Developer
                ul
                    li GitHub: 
                        a(href="https://github.com/eggerLA", target="_blank") eggerLA
                h3 Lukas Kasticky
                span.subtle Founder | Developer
                ul
                    li Web: 
                        a(href="http://lukas.kasticky.com", target="_blank") lukas.kasticky.com
                    li E-Mail: 
                        a(href="mailto:lukas@kasticky.com?subject=CloudGarage", target="_blank") lukas@kasticky.com
                    li GitHub: 
                        a(href="https://github.com/lukas-kasticky", target="_blank") lukas-kasticky
                    li Twitter: 
                        a(href="http://twitter.com/lukasticky", target="_blank") @lukasticky
                    li Instagram: 
                        a(href="http://instagram.com/lukas_kasticky", target="_blank") @lukas_kasticky
        script(src="/main.js")
        footer#footer
            p &copy;Copyright 2018 by Cloud Garage
            p
                a(href="/imprint.html") Imprint
                |  | 
                a(href="/contact") Contact